<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quên mật khẩu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/android-chrome-512x512.png" th:href="@{/android-chrome-512x512.png}">
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"
          href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/popper.js"></script>
    <style>
        body {
            background: #f1f0ee;
        }

        @font-face {
            font-family: "Fira Code Light";
            src: url("https://fonts.google.com/specimen/Fira+Sans");
        }
    </style>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(/images/login.jpg);">
                    </div>
                    <div style="background: #fefae0" class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-150">
                                <h2 class="mb-4" style="color: #6694a1">Quên Mật Khẩu</h2>
                            </div>
                        </div>
                        <form action="/account/forgot-password" method="post" id="form"
                              class="signin-form">
                            <div class="form-group mb-3">
                                <label for="username" style="color: #6694a1">Tên đăng nhập <span
                                        style="color: red">*</span></label>
                                <input id="username" name="username" th:value="${username}" type="text"
                                       class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" style="color: #6694a1">Email <span
                                        style="color: red">*</span></label>
                                <input type="email" name="email" th:value="${email}" id="email" class="form-control">
                            </div>
                            <div style="margin-top: 50px;height: 50px">
                                <div id="load" class="toast hide" style="background: none;box-shadow: none;border: none" aria-live="assertive" aria-atomic="true">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-warning" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <button type="submit" id="button"
                                            class="form-control btn btn-primary rounded submit px-3">
                                        Lấy mã
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------------------------Toast-------------------------------------------------------------->
<div class="position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Tin nhắn</strong>
            <small>Bây giờ</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-info" th:text="${msg}">
        </div>
    </div>
</div>
<!-------------------------End Toast-------------------------------------------------------------->

<script th:if="${msg}">
    // toast
    window.onload = function () {
        let myAlert = document.getElementById('liveToast');//select id of toast
        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();//show it
    }
</script>
<script>
    document.getElementById('form').addEventListener('submit', function(){
        let myAlert = document.getElementById('load');//select id of toast
        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        let button = document.getElementById("button");
        button.hidden = true;
        bsAlert.show();//show it
    });
</script>

<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</body>
</html>