<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đặt sản phẩm</title>
    <link rel="shortcut icon" href="/static/healthy_drink-1_4x.png">
    <style th:replace="/layout::style"></style>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"
          href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="layout::side-bar">
        </div>
        <div class="col-10  col-sm-9 col-md-9 col-lg-10">
            <div th:replace="layout::nav-bar">
            </div>
            <div class="row min-vh-100 content">
                <div class="col-12">
                    Thả code vào đây
                    <span th:if="${#request.isUserInRole('ROLE_ADMIN')}">quyền admin</span>
                    <span th:if="${#request.isUserInRole('ROLE_EMPLOYEE')}">quyền nhân viên</span>
                    <span th:utext="${#request.isUserInRole('ROLE_ADMIN')}"></span>
                    <!-- Hiển thị nội dung chỉ khi người dùng có quyền ROLE_ADMIN -->
            </div>
            <div th:replace="layout::footer">
            </div>
        </div>
    </div>
</div>

<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>