<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style th:fragment="style">
        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #menu li:hover {
            background-color: #c29867;
            border-radius: 3px;
        }

        .content {
            background-color: #eeeeee;

        }

        .side-bar {
            background-image: linear-gradient(20deg, #eeeeee, black);
        }
    </style>
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--        xs-->
        <!--        <576px	sm-->
        <!--        ≥576px	md-->
        <!--        ≥768px	lg-->
        <!--        ≥992px	xl-->
        <!--        ≥1200px	xxl-->
        <div class="side-bar col-2 col-sm-3 col-md-3 col-lg-2 px-sm-2 px-0" th:fragment="side-bar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-0 pt-2 text-white min-vh-100">
                <a href="/order/"
                   class="d-flex justify-content-center align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="fs-5 d-none d-sm-inline w-50 h-50" src="/static/healthy_drink-1_4x(2).png"
                         th:src="@{/healthy_drink-1_4x(2).png}"/>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start "
                    id="menu">
                    <li class="nav-item w-100">
                        <a href="/order/" class="nav-link align-middle px-0 text-light">
                            <i class="fa-solid fa-file-pen" style="color: #ffffff;"></i><span
                                class="ms-1 d-none d-sm-inline">Đặt sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/customer/list" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-users" style="color: #ffffff;"></i><span
                                class="ms-1 d-none d-sm-inline">Quản lí khách hàng</span> </a>
                    </li>

                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/user/list" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-person" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Quản lí nhân viên</span> </a>
                    </li>
                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/user/new-employee" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-person" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">nhân viên mới</span> </a>
                    </li>
                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/product" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-mug-hot" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Quản lí sản phẩm</span>
                        </a>
                    </li>
                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/account/admin" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-users-gear" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Quản lí tài khoản</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/order/revenue" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Doanh thu 3 tháng gần nhất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10  col-sm-9 col-md-9 col-lg-10">
            <nav class="navbar navbar-expand-md navbar-dark row" style="background-color: #c29867"
                 th:fragment="nav-bar">
                <div class="container-fluid ">
                    <div class="mx-auto col-6">
                        <span class="navbar-brand mx-auto float-end h1" style="color:#FF0066">e</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#FF0066">e</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#FF9966">f</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#FFCCCC">f</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#66CC66">o</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#222831">C</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#ffe272">n</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#de6fff">e</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#53afff">e</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#36d8b7">u</span>
                        <span class="navbar-brand mx-auto float-end h1" style="color:#9de16f">Q </span>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target=".dual-collapse2">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse dual-collapse2 col-6">
                        <div class="navbar-nav ms-auto text-light" id="user-container">
                            <div class="dropdown mx-2">
                                <span class="text-light" th:text="${#request.getUserPrincipal().getName()}"></span>
                                <button class="btn btn-dark" style="background-color: #c29867"
                                        id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="fa-regular fa-user" style="color: #ffffff;"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/user/update-form">Sửa thông tin</a></li>
                                    <li><a class="dropdown-item" href="/account/change-password">Đổi mật khẩu</a></li>
                                    <li><a class="dropdown-item" href="/account/logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row min-vh-100 content">
                <div class="col-12">

                </div>
            </div>
            <div class="row" style="background-color: #c29867" th:fragment="footer">
                <footer class="text-light text-center text-lg-start bottom-0">
                    <!-- Copyright -->
                    <div class="text-center p-3">
                        © 2023 Copyright: Team 2
                        <a class="text-light" href="http://localhost:8080/">Queen Coffee</a>
                    </div>
                    <!-- Copyright -->
                </footer>
            </div>
        </div>
    </div>
</div>
<script src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</body>
</html>