<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style th:fragment="style">
        @import url('https://fonts.googleapis.com/css?family=Cairo');

        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #menu li:hover {
            background-color: #c29867;
            border-radius: 3px;
        }

        .content {
            background-color: #eeeeee;

        }

        .side-bar {
            background-image: linear-gradient(1rad, #a1a1a1, black);
        }

        #user-container:hover {
            background-color: #d4d4d4;
        }

        .text {
            font-family: "Brush Script MT";
            color: black;
            letter-spacing: 0.3rem;
        }
    </style>
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--        xs-->
        <!--        <576px	sm-->
        <!--        ≥576px	md-->
        <!--        ≥768px	lg-->
        <!--        ≥992px	xl-->
        <!--        ≥1200px	xxl-->
        <div class="side-bar col-2 col-sm-3 col-md-3 col-lg-2 px-sm-2 px-0" th:fragment="side-bar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-0 pt-2 text-white min-vh-100">
                <a href="/order/"
                   class="d-flex justify-content-center align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="fs-5 d-none d-sm-inline w-50 h-50" src="/static/healthy_drink-1_4x(2).png"
                         th:src="@{/healthy_drink-1_4x(2).png}"/>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start "
                    id="menu">
                    <li class="nav-item w-100">
                        <a href="/order/" class="nav-link align-middle px-0 text-light">
                            <i class="fa-solid fa-file-pen" style="color: #ffffff;"></i><span
                                class="ms-1 d-none d-sm-inline">Đặt sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/customer/list" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-users" style="color: #ffffff;"></i><span
                                class="ms-1 d-none d-sm-inline">Quản lý khách hàng</span> </a>
                    </li>

                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/user/list" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-person" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Quản lý nhân viên</span> </a>
                    </li>
                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/user/new-employee" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-person" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Nhân viên mới</span> </a>
                    </li>
                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/product" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-mug-hot" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Quản lý sản phẩm</span>
                        </a>
                    </li>
                    <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="nav-item w-100">
                        <a href="/account/admin" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-users-gear" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Quản lý tài khoản</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/order/revenue" class="nav-link px-0 align-middle text-light">
                            <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i> <span
                                class="ms-1 d-none d-sm-inline">Doanh thu 3 tháng gần nhất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10  col-sm-9 col-md-9 col-lg-10">
            <nav class="navbar navbar-expand-md navbar-dark row shadow-lg "
                 style="background-color: #FFFFFF ;height: 5rem"
                 th:fragment="nav-bar">
                <div class="container-fluid">
                    <div class="mx-auto col-2 col-sm-4">
                        <button class="navbar-toggler bg-dark mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target=".dual-collapse2">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-10 col-sm-4 d-flex justify-content-center">
                        <span class="navbar-brand float-end text-dark text px-5"
                              style="font-size: 40px;">Queen Coffee</span>
                    </div>
                    <div class="navbar-collapse collapse dual-collapse2 col-sm-4">
                        <div class="navbar-nav ms-auto text-light">
                            <div class="dropdown mx-2">
                                <label for="user-container" class="text-dark"
                                       th:text="${#request.getUserPrincipal().getName()}" data-bs-toggle="dropdown"
                                       aria-expanded="false"></label>
                                <button class="btn btn-outline-light" style="border: none;"
                                        id="user-container"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="fa-solid fa-user" style="color: #000000;"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/user/update-form">Sửa thông tin</a></li>
                                    <li><a class="dropdown-item" href="/account/change-password">Đổi mật khẩu</a></li>
                                    <li><a class="dropdown-item" href="/account/logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row min-vh-100 content">
                <div class="col-12">


                </div>
            </div>
            <div class="row shadow-lg" style="background-color:#FFFFFF" th:fragment="footer">
                <footer class="text-dark text-center text-lg-start bottom-0">
                    <!-- Copyright -->
                    <div class="text-center position-relative p-3">
                        © 2023 Copyright: Team 2
                        <a class="text-light position-absolute" style="right: 75%" href="http://localhost:8080/order/">Queen
                            Coffee</a>
                    </div>
                    <!-- Copyright -->
                </footer>
            </div>
        </div>
    </div>
</div>
<script src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</body>
</html>