<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đặt sản phẩm</title>
    <link rel="shortcut icon" href="/static/android-chrome-512x512.png" th:href="@{/android-chrome-512x512.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style th:replace="/layout::style"></style>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"
          href="../../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="layout::side-bar">
        </div>
        <div class="col-10  col-sm-9 col-md-9 col-lg-10">
            <div th:replace="/layout::nav-bar">
            </div>
            <div class="row min-vh-100 content">
                <div class="col-12">
                    <div class="container-fluid d-flex mt-3">
                        <p class="h1">Bán Chạy Nhất</p>
                    </div>
                    <div class="container-fluid position-relative d-flex flex-sm-wrap flex-md-nowrap justify-content-between gap-2 mt-3">
                        <div class="card position-relative" th:each="product:${bestSeller}">
                            <span class="position-absolute " style="top: 5%; left: 83%">
                                <img src="../../static/hot.png" class="w-100 h-100" th:src="@{/hot.png}" alt="">
                            </span>
                            <img th:src="${product.productImagePath}"
                                 class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title" th:text="${product.productName}"></h5>
                                <div class="d-flex justify-content-between">
                                    <p class="card-title float-start"
                                       th:text="${product.productType.productTypeName}"></p>
                                    <p class="card-title float-end"
                                       th:text="${#numbers.formatDecimal(product.productPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></p>
                                </div>
                                <form action="/order/add-order"
                                      class="d-flex justify-content-between align-items-center" method="post">
                                    <div class="form-outline my-2" style="width:50%;">
                                        <input value="1" type="number" name="quantity" min="1"
                                               class="form-control"/>
                                    </div>
                                    <input type="hidden" name="idProduct"
                                           th:value="${product.productId}">
                                    <button type="submit" class="btn btn-primary h-75 ">Đặt</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid d-flex justify-content-between my-4">
                        <p class="h1 float-start">Đặt Sản Phẩm</p>
                        <form action="/order/" class="float-end" method="get">
                            <div class="input-group rounded">
                                <input id="search-input" name="name" type="search" placeholder="Tên sản phẩm"
                                       class="form-control rounded mx-2" th:value="${name}"/>
                                <button id="search-button" type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="container-fluid d-flex flex-wrap gap-2 justify-content-between">

                        <div class="card" style="width: 18rem;margin-bottom: 30px"
                             th:each="product:${listProduct}">
                            <img th:src="${product.productImagePath}"
                                 class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title" th:text="${product.productName}"></h5>
                                <div class="d-flex justify-content-between">
                                    <p class="card-title float-start"
                                       th:text="${product.productType.productTypeName}"></p>
                                    <p class="card-title float-end"
                                       th:text="${#numbers.formatDecimal(product.productPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></p>
                                </div>
                                <form action="/order/add-order"
                                      class="d-flex justify-content-between align-items-center" method="post">
                                    <div class="form-outline my-2" style="width:50%;">
                                        <input value="1" type="number" name="quantity" min="1"
                                               class="form-control"/>
                                    </div>
                                    <input type="hidden" name="idProduct"
                                           th:value="${product.productId}">
                                    <button type="submit" class="btn btn-primary h-75 ">Đặt</button>
                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="d-flex justify-content-center container-fluid">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:class="${!listProduct.hasPrevious()} ? 'page-item disabled' : 'page-item'"><a
                                        class="page-link"
                                        th:href="@{/order/(page=${listProduct.number -1},name=${name})}">Trước</a>
                                </li>
                                <li class="page-link disabled">
                                    <span th:text="${listProduct.number + 1}"></span>/<span
                                        th:text="${listProduct.totalPages}">
                                </span>
                                </li>

                                <li th:class="${!listProduct.hasNext()} ? 'page-item disabled' : 'page-item'"><a
                                        class="page-link"
                                        th:href="@{/order/(page=${listProduct.number +1},name=${name})}">Sau</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <div th:replace="layout::footer">
            </div>
        </div>
    </div>

    <div class="col-12 position-fixed top-50 bottom-50" style="z-index: 2;">
        <button class="btn btn-outline-dark float-end position-relative" style="margin-top: 12%;margin-right: 4%"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
            <i class="fa-solid fa-cart-shopping" style="color: #3a4d50;">
            </i>
            <span
                    th:if="${listOrderDetail}" th:text="${listOrderDetail.orderDetailList.size()}"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            </span>
        </button>
    </div>

    <!--Toast-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 2">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Tin nhắn</strong>
                <small>Bây giờ</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-info" th:text="${msg}">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/order/payment" method="post" th:object="${listOrderDetail}">
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Loại</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Xóa</th>
                                </tr>
                                </thead>
                                <tbody th:if="${listOrderDetail}">
                                <tr class="orderDetail" th:each="orderDetail,status:${listOrderDetail.orderDetailList}">
                                    <!--                                this.quantityProduct = quantityProduct;-->
                                    <!--                                this.productPrice = productPrice;-->
                                    <!--                                this.product = product;-->
                                    <!--                                this.order = order;-->
                                    <input class="price" type="hidden"
                                           th:field="*{orderDetailList[__${status.index}__].productPrice}">
                                    <input type="hidden"
                                           th:field="*{orderDetailList[__${status.index}__].order.orderId}">
                                    <input type="hidden"
                                           th:field="*{orderDetailList[__${status.index}__].product.productId}">
                                    <input type="hidden"
                                           th:field="*{orderDetailList[__${status.index}__].orderDetailId}">
                                    <th scope="row" th:text="${status.count}"></th>
                                    <td th:text="${orderDetail.product.productName}">Mark</td>
                                    <td th:text="${orderDetail.product.productType.productTypeName}">Mark</td>
                                    <td th:text="${#numbers.formatDecimal(orderDetail.productPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">
                                        Mark
                                    </td>
                                    <td>
                                        <!--                                    <div class="def-number-input number-input safari_only">-->
                                        <!--                                        <button type="button"-->
                                        <!--                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"-->
                                        <!--                                                class="minus"></button>-->
                                        <!--                                        <input class="quantity" name="quantity" min="0"-->
                                        <!--                                               th:field="*{orderDetailList[__${status.index}__].quantityProduct}"-->
                                        <!--                                               type="number">-->
                                        <!--                                        <button type="button"-->
                                        <!--                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"-->
                                        <!--                                                class="plus"></button>-->
                                        <!--                                    </div>-->
                                        <div class="row d-flex justify-content-center wrapper">
                                            <button type="button"
                                                    class="btn btn-primary col-2 center py-2 d-flex justify-content-center minus">
                                                <i class="fa-solid fa-minus"></i>
                                            </button>
                                            <input class="input-group-text col-3 num"
                                                   th:field="*{orderDetailList[__${status.index}__].quantityProduct}"
                                                   min="1" max="100" type="number">
                                            <button type="button"
                                                    class="btn btn-primary col-2 py-2 d-flex justify-content-center plus">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <a th:href="@{/order/delete/__${orderDetail.orderDetailId}__}">
                                            <button type="button" class="btn btn-danger">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6" th:if="${listOrderDetail}">
                                        <div class="float-end d-inline-block"><strong
                                                id="totalPrice"
                                                th:text="'Tổng tiền: '+${#numbers.formatDecimal(listOrderDetail.getTotalPrice(), 0, 'COMMA', 0, 'POINT')} + ' VND'"></strong>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.cookie = 'JESESSIONID=; Max-Age=0;'

    function update() {
        let totalPrice = 0;
        $('.orderDetail').each(function () {
            totalPrice += parseInt($(this).find('.num').val()) * parseInt($(this).find('.price').val());
        });
        $('#totalPrice').html("Tổng tiền: " + totalPrice.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + " VND");
    }

    $(document).ready(function () {
        $('.plus').click(function () {
            $(this).parents('.wrapper').find('.num').val(parseInt($(this).parents('.wrapper').find('.num').val()) + 1);
            update(this);
        });
        $('.minus').click(function () {
            if ($(this).parents('.wrapper').find('.num').val() < 2)
                return;
            $(this).parents('.wrapper').find('.num').val($(this).parents('.wrapper').find('.num').val() - 1);
            update(this);
        });
        $('.num').change(function () {
            update(this);
        });
    });
</script>
<script th:if="${msg}">
    window.onload = function () {
        var myAlert = document.getElementById('liveToast');//select id of toast
        var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();//show it
    }
</script>
<script th:if="${msg1}">
    window.onload = function () {
        var myModal = document.getElementById("exampleModal");
        var modal = new bootstrap.Modal(myModal);
        modal.show();
    }
</script>


<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</body>
</html>