<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-container {
            position: relative;
            /*border-radius: 10px;*/
            /*border: 1px solid #ccc;*/
            padding: 20px;
            margin-top: 50px;
            margin-left: 10px;
            width: 700px; /* Đặt kích thước ban đầu */
            max-width: 100%; /* Cho phép tự động điều chỉnh kích thước */
            height: auto;
        }

        #imagePreview {
            max-width: 89%;
            max-height: 80%;
            object-fit: contain;
            margin-bottom: 10px;
            margin-top: 60px;
        }
    </style>
    <style th:insert="/layout::style"></style>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"
          href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
</head>
<body>
<div th:replace="layout::nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="layout::content1"></div>
        <div class="col-sm-10" style="background-color: #FEFAE0; min-height: 700px">
            <h1 style="text-align: center">Thêm Mới Sản Phẩm</h1>
            <div class="container">
                <form action="/product/create" method="post" th:object="${product}">
                    <div style="display: inline-flex;">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img id="imagePreview" th:src="*{productImagePath}" alt="" class="img-thumbnail">
                            </div>

                            <div class="form-group">
                                <label for="btnThumbnailURL" style="width: 89%" class="form-control">Chọn ảnh</label>
                                <input type="hidden" id="thumbnailURL" th:field="*{productImagePath}"/>
                                <input id="btnThumbnailURL" type="file" style="display: none;"/>
                                <progress id="uploader" value="0" max="100">0%</progress>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-container">
                                <div class="form-group">
                                    <div class="row">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>
                                                    <b>Tên sản phẩm <span style="color: red">*</span></b>
                                                </th>
                                                <td>
                                                    <input type="text" th:field="*{productName}" id="productName"
                                                           class="form-control">
                                                    <div style="height: 28px">
                                                        <small style="color: red"
                                                               th:if="${#fields.hasErrors('productName')}"
                                                               th:errors="*{productName}"></small>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Giá <span style="color: red">*</span></b>
                                                </th>
                                                <td>
                                                    <input type="number" th:field="*{productPrice}" id="salary"
                                                           class="form-control">
                                                    <div style="height: 25px">
                                                        <small style="color: red"
                                                               th:if="${#fields.hasErrors('productPrice')}"
                                                               th:errors="*{productPrice}"></small>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Chọn loại sản phẩm</b>
                                                </th>
                                                <td>
                                                    <select th:field="*{productType}" id="productType"
                                                            class="form-control">
                                                        <option th:each="productType : ${productTypes}"
                                                                th:value="${productType.productTypeId}"
                                                                th:text="${productType.productTypeName}"></option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <br>
                                            <tr>
                                                <th>
                                                    <b>Mô tả</b>
                                                </th>
                                                <td>
                                                    <textarea type="text" th:field="*{productDescription}"
                                                              id="productDescription"
                                                              class="form-control"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                    <a style="color: white" href="/product">
                                        <button type="button" class="btn btn-secondary">Quay lại</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="layout::footer"></div>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>
<script>
    document.getElementById('btnThumbnailURL').addEventListener('change', function () {
        var reader = new FileReader();
        reader.onload = function () {
            var preview = document.getElementById('imagePreview');
            preview.src = reader.result;
        };
        reader.readAsDataURL(this.files[0]);
    });

    //paste here your copied configuration code
    const firebaseConfig = {
        apiKey: "AIzaSyAzFisiEuPoL-tzq3kdo3faLimcBYOyKf4",
        authDomain: "coffee-team2-project.firebaseapp.com",
        projectId: "coffee-team2-project",
        storageBucket: "coffee-team2-project.appspot.com",
        messagingSenderId: "18924172599",
        appId: "1:18924172599:web:d27940351fb0cafc0516b2"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    // const analytics = getAnalytics(app);
    let uploader = document.getElementById('uploader');
    let fileButton = document.getElementById('btnThumbnailURL');
    fileButton.addEventListener('change', function (e) {
        let file = e.target.files[0];
        let storageRef = firebase.storage().ref('product/' + file.name);
        let task = storageRef.put(file);
        task.on('state_changed', function progress(snapshot) {
            let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            uploader.value = percentage;
            //  lúc chưa load xong thì thì ko cho submit
            if (percentage === 100) {
                document.getElementById('createButton').removeAttribute('disabled');
            } else {
                document.getElementById('createButton').setAttribute('disabled', 'disabled');
            }
        });
        //   getDownloadURL() để lấy URL của file đã được lưu trữ trên Firebase Storage.
        //   Sau khi URL được lấy thành công, nó được sử dụng để đặt giá trị cho thuộc tính value của phần tử HTML có id là thumbnailURL.
        //   Điều này có nghĩa là URL được gán cho giá trị của trường input có tên là thumbnailURL.
        //   Sau đó, URL này có thể được sử dụng để hiển thị hình ảnh hoặc thực hiện các thao tác khác liên quan đến hình ảnh trong code JavaScript và HTML.
        task.then(snapshot => snapshot.ref.getDownloadURL())
            .then(url => {
                document.getElementById('thumbnailURL').setAttribute("value", url);
                // tải hình ảnh
                previewImage.style.display = 'none';
                newImage.src = url;
                newImage.style.display = 'block';
            });
    });
</script>
</body>
</html>